<!DOCTYPE html>
<html>

<head>
  <title>User Login Form</title>
</head>

<body>
  <div class="container">
    <h1>User Login Form</h1>
    <form action="/login" method="POST" [formGroup]="reactiveForm">
      <div class="imgcontainer">
        <img src="https://www.w3schools.com/howto/img_avatar2.png" alt="Avatar" class="avatar">
      </div>
      <label for="username"><b>Username</b></label>
      <input
        type="text"
        placeholder="Enter Username"
        formControlName="firstName"
        required
      >

      <label for="psw"><b>Password</b></label>
      <input
        type="password"
        placeholder="Enter Password"
        formControlName="password"
        required>

      <label for="email"><b>email</b></label>
      <input
        type="text"
        placeholder="Enter email"
        name="email"
        formControlName="email"
        required>

      <div style="padding: 10px 0px;">
        <label for="Estado" style="padding-right: 10px;"><b>country</b></label>
        <select
          name=""
          id=""
          formControlName="country"
          >
          <option value="cidade 1">cidade 1</option>
          <option value="cidade 2">cidade 2</option>
          <option value="cidade 3">cidade 3</option>
          <option value="cidade 4">cidade 4</option>
        </select>
      </div>

      <div style="display: flex; padding-top: 10px;">
        <label for="gender" style="padding-right: 10px;">Gender</label>

        <label for="male">Male</label>
        <input type="radio" id="male" value="male" formControlName="gender">

        <label for="gender">Female</label>
        <input type="radio" id="male" value="male" formControlName="gender">

      </div>



      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </form>
  </div>
</body>

</html>
